@()

@import helper._
<div class="row-fluid">
    <div class="span6 offset3">
        <div class="widget_wrapper">

            <div class="widget_header">
                <h3 class="icos_table2 blue">Sélectionner les champs à exporter</h3>
            </div>

            <div class="widget_content no-padding">
                <form action="extraction.php" method="post">
                    <div class="form_inputs clearfix clickable">
                        <div class="row-fluid">
                            <div class="span3">
                                <label class="control-label">Rendering engine :</label>
                            </div>
                            <div class="span1 offset8">
                                <input type="checkbox" name="rendering" class="chkbox1"val="0">
                            </div>
                        </div>
                    </div>

                    <div class="form_inputs clearfix clickable">
                        <div class="row-fluid">
                            <div class="span3">
                                <label class="control-label">Browser:</label>
                            </div>
                            <div class="span1 offset8">
                                <input type="checkbox" name="browser" class="chkbox1"val="0">
                            </div>
                        </div>
                    </div>

                    <div class="form_inputs clearfix clickable">
                        <div class="row-fluid">
                            <div class="span3">
                                <label class="control-label">Plateform :</label>
                            </div>
                            <div class="span1 offset8">
                                <input type="checkbox" name="platform" class="chkbox1"val="0">
                            </div>
                        </div>
                    </div>

                    <div class="form_inputs clearfix clickable">
                        <div class="row-fluid">
                            <div class="span3">
                                <label class="control-label">Engine version :</label>
                            </div>
                            <div class="span1 offset8">
                                <input type="checkbox" name="engine" class="chkbox1"val="0">
                            </div>
                        </div>
                    </div>

                    <div class="form_inputs clearfix clickable">
                        <div class="row-fluid">
                            <div class="span3">
                                <label class="control-label">CSS grade :</label>
                            </div>
                            <div class="span1 offset8">
                                <input type="checkbox" name="css" class="chkbox1"val="0">
                            </div>
                        </div>
                    </div>

                    <div class="validForm">
                        <input type="submit" value="Extraire" class="btn btn-info">
                    </div>
                </form>
            </div> 
        </div>
    </div>
</div><!-- content end -->