@(listNameFields : List[formatId], myForm :Form[List[String]])

@import controllers.IndexController.HelperForm._

@import play.api.Routes

<div class="row-fluid">
    <div class="span6 offset3">
        <div class="widget_wrapper">

            <div class="widget_header">
                <h3 class="icos_table2 blue">Sélectionner les champs à exporter</h3>
            </div>

            <div class="widget_content no-padding">
               @helper.form(routes.ExtractionController.checkedValues){
                @for(i <- 0 until listNameFields.size) {
                <div class="form_inputs clearfix">
                <div class="row-fluid">
                    <div class="span5">
                        <label class="control-label">@listNameFields(i).description :</label>
                    </div>
                    <div id="checkboxlist" class="span1 offset6">
                     @helper.checkbox(myForm("fields[" + i + "]"), '_label -> "" , 'value -> listNameFields(i).fieldName)
                    </div>
                </div>
            </div>

                }
                <div class="validForm">
                    <input type="submit" id="Extract1" value="Extraire" class="btn btn-info">
                </div>             0
                }

            </div>
        </div>
    </div>
</div>
 <!-- content end -->