@(listFlow :List[Flow])

@import helper._
@* @import tools.nsc.interpreter.ProductCompletion    *@

<div class="row-fluid">

  <div class="span12">

    <div class="widget_wrapper">

      <div class="widget_header">
          <h3 class="icos_table blue">Données actuellement dans la base</h3>
      </div>
      <div class="row-fluid">
        <div class="widget_content no-padding">

          <div class="form_inputs clearfix clickable">
            <div class="row-fluid">
                <div class="span3">
                    <p>Nb de client</p>
                </div>
                <div class="span5 offset1">
                  <p>12345678</p>
                </div>
            </div>
          </div>

           <div class="form_inputs clearfix clickable">
            <div class="row-fluid">
                <div class="span3">
                    <p>Nb de prospects navigation</p>
                </div>
                <div class="span5 offset1">
                  <p>325486</p>
                </div>
            </div>
          </div>
           <div class="form_inputs clearfix clickable">
            <div class="row-fluid">
                <div class="span3">
                    <p>Nb de client recoupés sur le site web</p>
                </div>
                <div class="span5 offset1">
                  <p>254783</p>
                </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>




<div class="row-fluid">

  <div class="span12">

    <div class="widget_wrapper">

      <div class="widget_header">
          <h3 class="icos_table blue">Flux de données récemment reçus</h3>
      </div>

      <div class="widget_content no-padding">
          <table class="default_table dynamicTable_two">
              <thead>
              <tr>
                  <th>"ProductCompletion(listFlow)caseNames.head"</th>
                  <th>Browser</th>
                  <th>Platform(s)</th>
                  <th>Engine version</th>
                  <th>CSS grade</th>
              </tr>
              </thead>
              <tbody>
              @listFlow.map { flow =>
              <li>
                  <tr class="gradeX">
                      <td>@flow.name</td>
                      <td class="center">@flow.dateFirst</td>
                      <td class="center">@flow.nbLinesTotal</td>
                      <td class="center">@flow.dateLastReceived:</td>
                      <td class="center">@flow.nbLinesReceived</td>
                  </tr>
              </li>
              }
              </tbody>
              <tfoot>
              <tr>
                  <td>Rendering engine</td>
                  <td>Browser</td>
                  <td>Platform(s)</td>
                  <td>Engine version</td>
                  <td>CSS grade</td>
              </tr>
              </tfoot>
          </table>
      </div>
    </div><!-- widget_wrapper end -->
  </div>
</div>