@(listFlow :List[Flow], listGlobalId :List[GlobalId])

@import helper._

<div class="row-fluid">

  <div class="span12">

    <div class="widget_wrapper">

      <div class="widget_header">
          <h3 class="icos_table blue">Données actuellement dans la base</h3>
      </div>
      <div class="row-fluid">
        <div class="widget_content no-padding">


            @listGlobalId.map { globalId =>
          <div class="form_inputs clearfix clickable">
            <div class="row-fluid">
                <div class="span3">
                    <p>@globalId.name</p>
                </div>
                <div class="span5 offset1">
                  <p>@globalId.value</p>
                </div>
            </div>
          </div>
            }

        </div>
      </div>


    </div>
  </div>
</div>




<div class="row-fluid">

  <div class="span12">

    <div class="widget_wrapper">

      <div class="widget_header">
          <h3 class="icos_table blue">Flux de données récemment reçus</h3>
      </div>

      <div class="widget_content no-padding">
          <table class="default_table dynamicTable_two">
              <thead>
              <tr>
                  <th>Name</th>
                  <th>First date</th>
                  <th>Total lines number</th>
                  <th>Last received date</th>
                  <th>Number of lines received</th>
              </tr>
              </thead>
              <tbody>
              @listFlow.map { flow =>
              <tr class="gradeX">
                  <td class="center">@flow.name</td>
                  <td class="center">@flow.dateFirst</td>
                  <td class="center">@flow.nbLinesTotal</td>
                  <td class="center">@flow.dateLastReceived:</td>
                  <td class="center">@flow.nbLinesReceived</td>
              </tr>
              }
              </tbody>
              <tfoot>
              <tr>
                  <td>Name</td>
                  <td>First date</td>
                  <td>Total lines number</td>
                  <td>Last received date</td>
                  <td>Number of lines received</td>
              </tr>
              </tfoot>
          </table>
      </div>
    </div><!-- widget_wrapper end -->
  </div>
</div>