@()

@import helper._
                          </div><!-- end content -->
                      </div><!-- end content-wrapper -->
                    </div><!-- end wrapper -->
                </div><!-- end span12 -->
            </div><!-- end ow-fluid -->
        </div><!-- end container-fluid -->
    </div><!-- end contentainer_wrapper -->


    <div class="footer_wrapper">
      <div class="container-fluid">
          <div class="row-fluid">
              <div class="span12">
                  <div class="footer">
                      Tous droits réservés ® à <a href="http://www.claravista.fr">Claravista</a>
                  </div><!-- footer end -->
              </div>
          </div>
      </div>
    </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.dataTables.js")'></script>
    <script src='@routes.Assets.at("javascripts/scripts.js")'></script>
  </body>
</html>