@(users: List[User], userForm: Form[(String, String, String)])

@import helper._

@main("ClaraVista") {

<h1>@users.size user(s)</h1>

<ul>
    @users.map { user =>
        <li>
            @user.login<br>
            @user.password<br>
            @user.email<br>
            @user.isAdmin<br>
            @form(routes.Application.deleteUser(user.login)) {
                <input type="submit" value="Delete">
            }
        </li>
    }
</ul>

<h2>Sign Up: </h2>

    @form(routes.Application.newUser) {
        @inputText(userForm("login"))
        @inputText(userForm("password"))
        @inputText(userForm("email"))

        <input type="submit" value="Create">
    }

}

